*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(120deg, #e4c55d, #cf816c);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header, form{
    padding: 2.5rem;
    min-height: 0;
    display: flex;
    justify-content: center;
    align-content: center;

}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: #cf816c;
    background: white;
    cursor: pointer;
    transform: all 0.3s ease;
}

form button:hover{
    background: #cf816c;
    color: white;
}